DamasGamePlayer1/Service References/DamasGamePlayer2Service/DamasGame.Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DamasGame.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DamasGame.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Move">
    <xs:sequence>
      <xs:element name="_x003C_piece1_x003E_k__BackingField" nillable="true" type="tns:Piece" />
      <xs:element name="_x003C_piece2_x003E_k__BackingField" nillable="true" type="tns:Piece" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Move" nillable="true" type="tns:Move" />
  <xs:complexType name="Piece">
    <xs:sequence>
      <xs:element name="_x003C_Column_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Row_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Piece" nillable="true" type="tns:Piece" />
</xs:schema>